/* GENERAL */
:root {
    /* main colors */
    --colorDark: #080708;
    --colorLight: #ede6f2;
    --colorBlood: #A6051A;
    --colorBlood2: #8b0000;
    /* specific colors */
    --colorChosenOne: #080708;
    --colorSearchBar: #00ffff;
}
* {
    margin: 0;
    background: var(--colorDark);
    box-sizing: border-box;

}
div {
    min-height: 10vh;
    color: var(--colorLight);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
/* Part 1: outside: index.html */
#email {
    color: var(--colorLight);
}
#password {
    color: var(--colorLight) ;
}
#pars:link {
    color: var(--colorLight);
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

#pars:visited {
    color: var(--colorLight);
}

#pars:hover {
    color: var(--colorBlood);
    text-decoration: none;
}

#pars:active {
    color: var(--colorDark);
} 

/* Part 2: inside: map.html / events.html / feed.html / profile.html / roulette.html / poker.html */
.menu {
    font-size: 1.5rem;
    color: var(--colorBlood2);
    background: var(--colorDark);
    position: fixed;
    top: 0;
    float: left;
    width: 20%;
    min-height: 5%;
    margin: 1.25%;
    border-color: var(--colorBlood2);
}
.menu:hover {
    color:var(--colorLight);
    border-color: var(--colorLight);
}
.active {
    border-color: var(--colorChosenOne);
}
#map {
    left: 0%;
}
#events {
    left: 20.75%;
}
#feed {
    left: 41.5%;
}
#profile {
    left: 62.25%
}
#roulette {
    width: 7%;
    right: 7%
}
#poker {
    width: 7%;
    right: 0;
}
.presentation-img {
    background: url();
    background-size:cover;
}

/* inside 1: map */
#lookAll {
    box-sizing: border-box;
    top: 7%;
    left: 21%;
    position: fixed;    
    margin: 1%;
    min-width: 61.5vw;
    min-height: 3%;
    display: block;    
    background: var(--colorDark);
    color: var(--colorLight);
    border-color: var(--colorSearchBar);
    border-style:double;
    font-size: large;
}
#geography {
    background: url(./img/map.jpg);
    background-repeat: no-repeat;
    min-height: 60vh;
    color: var(--colorLight);
    font-size: 60px;
    background-position:center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5%;
    border-color: var(--colorSearchBar);
    border-width: 10%;

}
/* inside 2: events */
.extract-fete {
    background: url(./img/badbunny.jpg)
    min-width: 40vw;
    min-height: 20vh;
    margin: 5% 10%;
    display: block;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
    position:static;
    border-color: var(--colorLight);
    color: var(--colorLight);
    /* float: left; */
    background-color: #8b0000;
}
.extract-all {
    margin: 0;
    background
}
.extract-cover {
    display: block;
    height: 20px;
    width: 20px;
    
    /* float: left; */
}
.extract-description {
    font-size: 1rem;
    background: red;
    margin: 10px;
    display: block;
    float: left;

}
/* .extract-audio {

}
.extract-join {

}
.extract-later {

}
.extract-data {

} */